.showcase{
    width: 100%;
    margin: 4rem 0;

    &-title{
        text-align: center;
        color: $primary--color;
        display: flex;
        flex-direction: column;
    }

    &-title::after{
        content: " ";
        width: 2.2em;
        border-radius: 25px;
        height: 8px;
        background-color: $secondary--color;
        display: inline-block;
        margin: auto;
        margin-top: .8rem;
        margin-bottom: 1rem;
    }
}